/** CLEAR **/
*, *:before, *:after {
  box-sizing: border-box;
}

/** BODY **/
body {
  font-family: 'SF Pro Text', Helvetica, Arial, sans-serif;
  font-size: 8pt;
  line-height: 1.4;
  background-color: #F8F8F8;
}


/** BASIC SETTING **/
p {
  font-family: inherit;
  font-size: 1em; /** default: 12pt **/
}

h1 {
  font-family: inherit;
  font-size: 14pt;
  font-weight: bold;
}

h2 {
  font-family: inherit;
  font-size: 13pt;
  font-weight: 200;
}

h3 {
  font-family: inherit;
  font-size: 11pt;
  font-weight: 200;
}

h4 {
  font-family: inherit;
  font-size: 9pt;
  font-weight: 200;
}



/** Z_INDEX **/
.ref-image { z-index: -1;}

.top-ui { z-index: 200;}

.sticky { z-index: 100;}

.map { z-index: 0;}

.gps { z-index: 90;}

.pin-area { z-index: 5;}

.popover { z-index: 1000;}



/** REFERENCE IMAGE **/
.ref-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0%;
}


/** TOP UI BAR **/
.top-ui {
  position: fixed;
  top: 0px;
  width: 100%;
}

.top-ui-image {
  width: 100%;
  object-fit: contain;
}


/** MAP BAGKROUND **/
.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

/** NAVI PINS **/
.navi-pins {
  position: absolute;
  left: 0;
  top: 0;
}

.navi-pin {
  height: 20pt;
}

  /** INDIVIDUAL NAVI PIN LOCATION **/
  #washington { transform: translate(175px, 133px); }
  #washington-wab { transform: translate(300px,155px);}
  #monroe-l {
    transform: translate(125px,288px);
    z-index: 2000;
  }
  #monroe-r { transform: translate(176px,287px); }
  #adams-wab { transform: translate(226px,357px); }
  #jackson-l {transform: translate(50px,447px);}
  #jackson-r {transform: translate(100px,444px);}
  #laselle-vanburen {transform: translate(-116px, 530px);}
  #harold-vanburen {transform: translate(2px, 528px);}
  #laselle {transform: translate(-161px, 606px);}
  #harrison {transform: translate(2px, 676px);}


.gps {
  position: fixed;
  top: 40px;
  right: 7px;
}

.pin-area {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.pin-area img{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
}

.popover img {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.sticky {
  position: relative;
  bottom: 0;
  width: 100%;
  display: block;
}

/** BUS ROUTE WINDOW **/
.bus-route-window {
  display: block;
  position: relative;
  bottom: 0;
  height: 880px;
  background-color: #EBEBEB;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  transform: translateY(200px);
}

    /** TOP CLOSE HANDLE **/
    .handle {
      height: 4px;
      width: 36px;
      border-radius: 4px;
      background-color: rgba(203, 205, 204, 0.7);
      margin: auto;
    }

    /** DESTINATION **/
    .destination {
      height: 100px;
      border-bottom: 1px solid #BCBBC1;
    }

    .dest-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 10px 15px 8px 15px;
      /* background-color: red; */
    }

    /** TIME FROM MY LOCATION TO DESTINATION **/
    .timer-wrapper {
      display: flex;
      margin: 5px 10px 10px 10px;
      padding: 10px 10px 10px 10px;
      border-top: 1px solid #BCBBC1;
    }

    .timer-wrapper img {
      height: 16px;
      margin-right: 8px;
    }

    .timer-wrapper #bold {
      font-weight: 700;
    }

    .timer-wrapper #my-location {
      color: #007AFF;
      font-weight: 400;
      text-decoration: underline;
    }

    /** EACH BUS OPTIONS - SHARED **/
    .item {
      height: 80px;
      padding-top: 10px;
      border-bottom: 1px solid #BCBBC1;
    }

        .item-text-area {
          height: 48px;
          margin: 0px 15px 0px 15px;
          display: flex;
          align-items: center;
        }

        .grey-text {
          color: #8A8A8F;
        }

        .bus-number-container {
          width: 50px;
          margin-right: 10px;
        }

        .bus-number-bg {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }


        .bus-number .text {
          display: inline-flex;
        }

        .bus-number-bg h2{
          color: #ffffff;
          flex: 0 0 120px
        }

        .text-container {
          width: 200px;
          margin-left: 5px;
          /* background-color: red; */
        }

        .time-container {
          width: 100px;
          margin-left: 10px;
           /* background-color: green; */
          position: relative;
          text-align: right;
        }

        .item-time-container img, h4{
          display: inline;
          vertical-align: text-bottom;
        }


        /** TIME TRACKER **/
        .time-tracker-area {
          height: 15px;
           /*background-color: rgba(255, 0, 0, 0.5);*/
          margin-top: 1px;
        }

        .time-tracker  {
          position: relative;
        }

        .grey-bar, .color-bar, .bus-icon {
          position: absolute;
        }

        .grey-bar, .color-bar {
          transform: translate(0px, 14px);
          display:
        }

        .color-bar {
          height: 5px;
          z-index: 2;
        }

        .grey-bar {
          background-color: #ADADAD;
          width: 375px;
          height: 5px;
          z-index: 1;

        }

    /** OUT OF SERVICE BUS ROUTES **/
    .item-disabled {
      height: 70px;
      padding-top: 10px;
      border-bottom: 1px solid #BCBBC1;
    }

        .bus-number-bg-disabled {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 50%;
        }

        .bus-number-bg-disabled h2{
          color: #ffffff;
          flex: 0 0 120px
        }

        .text-container-disabled {
          width: 200px;
          margin-left: 5px;
          opacity: 50%;
          /* background-color: red; */
        }

        .time-container-disabled {
          width: 100px;
          margin-left: 10px;
           /* background-color: green; */
          position: relative;
          text-align: right;
        }

        .item-time-container img, h4{
          display: inline;
          vertical-align: text-bottom;
        }

    /** CUSTOM: BUS LINES **/
    /** BUS 60 **/

        #bus-60 .bus-number-bg {
          background-color: #BF5AF2;
        }

        #bus-60 .time-container {
            color: #BF5AF2;
        }

        #bus-60 .color-bar {
          background-color: #BF5AF2;
          width: 330px;
        }

        #bus-60 .bus-icon {
          transform: translate(306px, 0px);
        }

        /** DISABLING BACKGROUND COLOR
        #bus-60 .item {
          background-color: #F2E8F7;
        }
        **/

    /** BUS 124 E **/
        #bus-124-e .bus-number-bg {
          background-color: #FF9500;
        }

        #bus-124-e .time-container {
            color: #007AFF;
        }

        #bus-124-e .color-bar {
          background-color: #007AFF;
          width: 280px;
        }

        #bus-124-e .bus-icon {
          transform: translate(255px, 0px);
        }

    /** BUS 124 S **/
        #bus-124-s .bus-number-bg {
          background-color: #FF9500;
        }

        #bus-124-s .time-container {
            color: #007AFF;
        }

        #bus-124-s .color-bar {
          background-color: #007AFF;
          width: 230px;
        }

        #bus-124-s .bus-icon {
          transform: translate(205px, 0px);
        }

    /** BUS J14 **/
        #bus-j14 .bus-number-bg {
          background-color: #BA3C3C;
        }

        #bus-j14 .time-container {
            color: #007AFF;
        }

        #bus-j14 .color-bar {
          background-color: #007AFF;
          width: 220px;
        }

        #bus-j14 .bus-icon {
          transform: translate(195px, 0px);
        }

    /** BUS 151 **/
        #bus-151 .bus-number-bg {
          background-color: #34C759;
        }

        #bus-151 .time-container {
            color: #007AFF;
        }

        #bus-151 .color-bar {
          background-color: #007AFF;
          width: 210px;
        }

        #bus-151 .bus-icon {
          transform: translate(185px, 0px);
        }

    /** BUS 6X **/
        #bus-6x .bus-number-bg {
          background-color: #5856D6;
        }

        #bus-6x .time-container {
            color: #007AFF;
        }

        #bus-6x .color-bar {
          background-color: #007AFF;
          width: 130px;
        }

        #bus-6x .bus-icon {
          transform: translate(105px, 0px);
        }


    /** BUS 4 - OUT OF SERVICE **/
        #bus-4 .bus-number-bg-disabled {
          background-color: #5AC8FA;
        }

    /** BUS 20 - OUT OF SERVICE **/
        #bus-20 .bus-number-bg-disabled {
          background-color: #FF6482;
        }

    /** BUS 157 - OUT OF SERVICE **/
        #bus-157 .bus-number-bg-disabled {
          background-color: #B25000;
        }



/** BOTTOM NAVI **/
/** BOTTOM NAVI BOTTOM **/
.bot-navi {
  height: 70px;
  width: 100%;
  background-color: #EBEBEB;
  border-top: 1px solid #ADADAD;
  position: fixed;
  bottom: 0;
}

.bot-navi-container {
  display: flex;
  padding-top: 4pt;
}

.bot-navi-item {
  width: 50pt;
  text-align: center;
  margin: auto;
}

.bot-navi-item img {
  width: 24pt;
}

.bot-navi-item p {
  color: #8A8A8F;
}

.selected p {
  color: #007AFF;
}
